    {% extends "index.html" %}

    {% block cuerpo %}
    <section>
    <a href="{%url 'createTipo'%}">Nuevo</a>
    <h1>Lista de Tipos</h1>
    <table style="border:1">
        <thead>
            <tr>
                <td>Tipo</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for e in tipo  %}
            <tr>
                <td>{{e.tipo}}</td>
                <td><a href="{% url 'delete-Tipo' e.id%}">Eliminar</a></td>
                <td><a href="">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
    {% endblock cuerpo %}