<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{%url 'createCategoria'%}">Nuevo</a>
    <h1>Lista de Categorias</h1>
    <table style="border:1">
        <thead>
            <tr>
                <td>Tipo</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for e in categoria  %}
            <tr>
                <td>{{e.categoria}}</td>
                <td><a href="{% url  'deleteCategoria' e.id  %}">Eliminar</a></td>
                <td><a href="">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>