{% extends "index.html" %}
{% block cuerpo %}
    <a href="{%url 'createBanco'%}">Nuevo</a>
    <h1>Lista de Bancos</h1>
    <table>
        <thead>
            <tr>
                <td>Banco</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for e in banco  %}
            <tr>
                <td>{{e.banco}}</td>
                <td><a href="{%url 'deleteBanco' e.id%}">Eliminar</a></td>
                <td><a href="">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock cuerpo%}